/* ヘッダーのスタイル */
.navbar-nav .nav-item {
    margin-right: 30px;
}
.navbar-nav .nav-link {
    padding: 10px 15px;
}
.navbar {
    background-color: #AEE6D0;
    padding: 5px 0;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #575656;
}

.navbar .nav-link:hover {
    color: white;
}

.fc-event-time {
    display: none !important;
}