<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント情報変更</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>
<body class="auth-page">
    <div class="container-center">
        <div class="center-content">
            <h2>アカウント情報変更</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-container">
                    <div class="form-group">
                        名前/ニックネーム <input type="text" name="name" value="{{ form.name.value|default:user.name }}">
                    </div>
                    <div class="form-group">
                        メールアドレス <input type="email" name="email" value="{{ form.email.value|default:user.email }}">
                    </div>
                    <div class="form-group">
                        続柄 <input type="text" name="family_relationship" value="{{ form.family_relationship.value|default:user.family_relationship }}">
                    </div>
                    <div class="form-group">
                        現在のパスワード <input type="password" name="current_password">
                    </div>
                    <div class="form-group">
                        新しいパスワード<input type="password" name="password1">
                    </div>
                    <div class="form-group">
                        新しいパスワード再入力 <input type="password" name="password2">
                    </div>
                </div>
                <button type="submit">保存</button>
            </form>

            {% if form.errors %}
                <div class="error-message">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            <a href="{% url 'mypage' %}">マイページに戻る</a>
        </div>
    </div>
</body>
</html>