<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン画面</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
</head>
<body class="auth-page">
    <div class="container-center">
        <div class="center-content">
            <h2>シェアカジ</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    メールアドレス <input type="email" name="email" value="{{ request.POST.email|default:'' }}">
                </div>
                <div class="form-group">
                    パスワード <input type="password" name="password">
                </div>
                <button type="submit">ログイン</button>
            </form>

            {% if error %}
                <div class="error-message">
                   <p>{{ error }}</p>
                </div>
            {% endif %}
            
            <a href="{% url 'signup' %}">新規アカウント登録</a>
        </div>
    </div>
</body>
</html>