{% extends 'tasks/base.html' %}

{% block title %}マイページ{% endblock %}

{% block head%}
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile-image.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h4 class="page-title"><strong>マイページ</strong></h4>

    <form method="post" enctype="multipart/form-data" action="{% url 'mypage' %}">
        {% csrf_token%}
        <div class="profile-container">
            <div style="position: relative; margin-bottom: 20px;">
                {% if user.profile_image %}
                    <img id="profile-image" src="{{ user.profile_image.url }}" alt="プロフィール画像" class="profile-image">
                {% else %}
                    <img id="profile-image" src="{% get_media_prefix %}default_profile_image.png" alt="プロフィール画像" class="profile-image">
                {% endif %}
                <div class="image-upload-label">
                    <label for="image_upload" class="plus-icon-label">
                        <span class="upload-text">+画像を登録</span>
                    </label>
                    <input type="file" id="image_upload" name="profile_image" style="display: none;" onchange="previewImage(event)">
                </div>
                <button type="submit" class="upload-button">アップロードする</button>
            </div>
        </div>
    </form>

            <!-- ユーザー情報 -->
            <div class="profile-info ml-3">
            <h4>{{ user.name }}</h4> 
            <a href="{% url 'account_edit' %}">アカウント情報変更</a>
            <h4>{{ family.name|default:"家族名が設定されていません" }}</h4> 
            <a href="{% url 'family_edit' %}">家族情報編集</a> 
            <h4>{{ user.family_relationship|default:"続柄が設定されていません" }}</h4> 
            <a href="{% url 'account_delete' %}">アカウント削除</a> 
            </div>
        </div>
    </form>

    <!-- 家族一覧 -->
    <div class="my-5">
        <h4>家族一覧</h4>
        <ul class="list-group">
            {% for member in family_members %}
            <li class="list-group-item">
                {% if member.profile_image %}
                    <img src="{{ member.profile_image.url }}" alt="{{ member.name }}" class="profile-icon">
                {% else %}
                    <img src="{% get_media_prefix %}default_profile_image.png" alt="{{ member.name }}" class="profile-icon">
                {% endif %}
                {{ member.name }}（{{ member.family_relationship|default:"続柄が設定されていません"  }}）
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- 招待リンクとログアウト -->
    <div class="my-4">
        <a href="{% url 'family_invite_url' %}" class="btn btn-primary">家族を招待</a>
        <a href="{% url 'login' %}" class="btn btn-secondary ml-3">ログアウト</a>
    </div>
</div>
{% endblock %}