{% extends 'tasks/base.html' %}

{% block title %}ホーム{% endblock %}

{% block content %}
    <!-- リマインドセクション -->
    <div class="container mt-4">
        {% if reminders %}
        <div class="alert alert-warning">
            <h5>リマインド（完了まであと2時間）</h5>
            <ul>
                {% for reminder in reminders %}
                <li>{{ reminder.task_name }} ({{ reminder.due_datetime|date:"Y-m-d H:i" }} までに完了)</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <div class="container mt-4">
        {% if family_notifications %}
        <div class="alert alert-success">
            <h5>以下の家事タスクが完了しました！感謝の気持ちを伝えましょう！</h5>
            <ul>
                {% for notification in family_notifications %}
                <li>
                    {{ notification.task_name }} 
                    (完了日: {{ notification.completion_datetime|date:"Y年m月d日 H:i" }})
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <!-- カレンダー部分 -->
    <div class="container mt-4 calendar-container">
        <div id="calendar"></div>
    </div>

    <!-- まだ終わっていない家事セクション -->
    <div class="container mt-4">
        <h5><strong>まだ終わっていない家事</strong></h5>
        {% if incomplete_tasks %}
            <ul>
                {% for task in incomplete_tasks %}
                <li>{{ task.task_name }} (完了期限: {{ task.due_datetime|date:"Y年m月d日 H時i分" }})</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>現在、終わっていない家事はありません。</p>
        {% endif %}
    </div>

    <!-- 最近行った家事セクション -->
    <div class="container mt-4">
        <h5><strong>最近行った家事</strong></h5>
        {% if completed_tasks %}
            <ul>
                {% for task in completed_tasks %}
                <li>{{ task.task_name }} (完了日: {{ task.completion_datetime|date:"Y年m月d日" }})</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>最近行った家事はありません。</p>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'ja',
            headerToolbar:{
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth'
            },
            events: {{ event_data|safe }},
            dateClick: function(info){ //日付クリックイベントを追加
                var selectDate = info.dateStr; //クリックした日付（YYYY-MM-DD形式）

                // タスク一覧ページへの遷移
                window.location.href = `/tasks/today/${selectDate}/`;
            }
        });

        calendar.render();
    });
</script>
{% endblock %}